.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__btn {
    cursor: pointer;
    border: 1px solid #4d4ae8;
    border-radius: 6px;
    padding: 8px;
    background: none;
    color: #ccc;
    margin: 15px;
    transition: 0.3s;
}
.active {
    background-color: #4d4ae8;
}

.pagination__btn:hover {
    background-color: #4d4ae8;
    transition: 0.3s;
}
